.testimonials-container {
  background-color: #444;
  color: white;
  padding: 50px 0;
}

.testimonials-subtitle {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 30px;
}

.testimonials-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 1200px;
  margin: 0 auto;
}

.testimonial {
  flex: 1;
  text-align: center;
  padding: 0 20px;
}

.testimonial-rating {
  font-size: 2rem;
  color: #ffd700;
  margin-bottom: 10px;
}

.testimonial-info {
  margin-bottom: 15px;
}

.testimonial-image {
  max-width: 100px;
  height: auto;
  border-radius: 50%;
  margin: 0 auto;
}

.testimonial-name {
  font-size: 1.5rem;
  margin-top: 5px;
}

.testimonial-review {
  font-size: 1rem;
  margin-top: 10px;
}
@media (max-width: 768px) {
  .testimonials-container {
  padding: 30px 0 0 0;
  }
  
  .testimonials-content {
    flex-direction: column;
  }

  .testimonial {
    text-align: center;
    padding: 0 20px 20px 20px;
    margin-top: 20px;
    border-bottom: 1px solid #777;
  }
}
